body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}


/* Image Background */
.home_background {
  background: url("../images/home_background_2.64e5dc3e75ad.jpg") fixed center center no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Forms */

.container {
  margin-top: 50px;
}
.card {
  margin-bottom: 20px;
}
.card-header {
  background-color: #007bff;
  color: #fff;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.results {
  margin-top: 20px;
}

.equal-height {
  height: 77vh;
}

.calculate-margin {
  margin-top: 54px;

}

/* Tooltip */

.tooltip-inner {
  background-color: #3b3838;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px 15px;
}

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #ccc;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-width: 10px;
  border-top-color: #ccc;
  border-bottom-color: transparent;
}

/* Result field */
.results-card {
  background-color: #e2e3e5; /* Light grey background */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 1rem;
  margin-top: 1rem;
}